.cita {
    border: 1px solid black;
    background: white;
    margin: 5px;
    padding: 3px;
    text-align: center;
}

.bloque-dia {
    border: 1px solid black;
}

.header-dia {
    border-bottom: 1px solid black;
}

.btn-ver-detalles {
    width: 100%;
    padding: 1px;
    margin: 4px auto;
}

.calendario {
    min-height: 100px;
    margin: 20px auto;
}